.container {
  display: flex;
  width: 100%;
  background: #FFF;
  box-shadow: 0px 4px 200px 0px rgba(232, 249, 247, 0.2);
  font-family: "Plus Jakarta Sans", sans-serif;
  position: relative;
}

.sidebar {
  background-color: var(--Greyscale-Grey-50, #f9fafb);
  display: flex;
  width: 298px;
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  padding: 25px 20px;
  position: fixed;
}
.sidebar .profile {
  display: flex;
  gap: 12px;
  color: var(--Main-Color-Secondary, #100a55);
}
.sidebar .profile:hover {
  cursor: pointer;
}
.sidebar .profile .avatar {
  width: 48px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}
.sidebar .profile .profile-info {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.sidebar .profile .profile-name {
  font: 700 16px/140% "Plus Jakarta Sans", sans-serif;
}
.sidebar .profile .profile-role {
  margin-top: 5px;
  font: 500 12px/135% "Plus Jakarta Sans", sans-serif;
}
.sidebar .scroll-box {
  overflow-y: scroll;
}
.sidebar .scroll-box .menu-list:hover {
  background: var(--BG-Light-w-Blue, #ebf3ff);
}
.sidebar .scroll-box .menu-list:hover .menu-item {
  color: #1d61cc;
}
.sidebar .scroll-box .menu-list:hover path {
  fill: #1d61cc;
}
.sidebar .scroll-box::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
}
.sidebar .scroll-box:hover::-webkit-scrollbar {
  width: 8px;
}
.sidebar .scroll-box:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
.sidebar .explore-section {
  display: flex;
  margin-top: 24px;
  flex-direction: column;
}
.sidebar .section-title {
  border-radius: 6px;
  color: var(--Blue-2nd, #002f7a);
  justify-content: center;
  padding: 10px;
  font: 700 11px/150% "Plus Jakarta Sans", sans-serif;
}
.sidebar .menu-list {
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 12px;
  font-size: 15px;
  font-weight: 600;
  line-height: 150%;
  padding: 10px;
}
.sidebar .menu-list:hover {
  cursor: pointer;
}
.sidebar .active {
  background-color: var(--BG-Light-w-Blue, #ebf3ff);
}
.sidebar .active path {
  fill: #1d61cc;
}
.sidebar .active .menu-item {
  color: #1d61cc;
}
.sidebar .icon {
  width: 20px;
  aspect-ratio: 1;
  object-fit: contain;
  margin: auto 0;
}
.sidebar .menu-item {
  color: #8482A8;
  font-feature-settings: "ss04" on, "ss06" on, "liga" off;
  font-size: 15px;
  font-weight: 600;
  line-height: 150%; /* 22.5px */
}
.sidebar .divider {
  height: 1px;
  background-color: var(--Border-Dark-Purple, #f0effb);
  margin-top: 16px;
}
.sidebar .manage-section {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  font-size: 15px;
  color: var(--Main-Color-Secondary, #100a55);
  font-weight: 600;
  line-height: 150%;
}
.sidebar .services-section {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  line-height: 150%;
}
.sidebar .footer {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: var(--Main-Color-Secondary, #100a55);
  font-weight: 500;
  line-height: 150%;
  position: absolute;
  bottom: 0;
}
.sidebar .help {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  gap: 12px;
}
.sidebar .help:hover {
  cursor: pointer;
}
.sidebar .settings {
  display: flex;
  margin-top: 16px;
  align-items: center;
  padding: 8px 10px;
  gap: 12px;
}
.sidebar .settings:hover {
  cursor: pointer;
}

.house-suggestion-section {
  display: flex;
  padding: 40px;
  flex-direction: column;
  gap: 30px;
  align-self: stretch;
  width: calc(100% - 298px);
  background: #FFF;
  position: absolute;
  right: 0;
  box-sizing: border-box;
}
.house-suggestion-section .house-suggestion-header {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.house-suggestion-section .house-suggestion-header .suggested-homes-container {
  display: flex;
  gap: 20px;
  align-self: stretch;
}
.house-suggestion-section .house-suggestion-header .suggested-homes-container .suggested-homes-title {
  color: var(--Main-Color-Black, #000929);
  flex: 1;
  font-size: 24px;
  font-weight: 700;
  justify-content: center;
  line-height: 140%;
  margin: auto 0;
}
.house-suggestion-section .house-suggestion-header .suggested-homes-container .search-container {
  color: var(--Text-Grey, rgba(0, 9, 41, 0.7));
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  line-height: 150%;
}
.house-suggestion-section .house-suggestion-header .suggested-homes-container .search-input-container {
  background-color: var(--BG-Light-Blue, #f5f9ff);
  border: 1px solid rgb(230, 240, 255);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 14px;
}
.house-suggestion-section .house-suggestion-header .suggested-homes-container .search-input {
  border: none;
  outline: none;
  background-color: var(--BG-Light-Blue, #f5f9ff);
  width: 100%;
  color: var(--Text-Grey, rgba(0, 9, 41, 0.7));
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.house-suggestion-section .house-suggestion-header .home-filter-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.house-suggestion-section .house-suggestion-header .divider {
  height: 1px;
  background: var(--Border-Dark-Purple, #F0EFFB);
}
.house-suggestion-section .house-suggestion-header .location-selector {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  gap: 10px;
  font-size: 14px;
}
.house-suggestion-section .house-suggestion-header .location-selector .location-list {
  display: flex;
  gap: 10px;
  line-height: 24px;
}
.house-suggestion-section .house-suggestion-header .location-selector .location-label {
  color: var(--Dark-1st, #000929);
  font-weight: 600;
  width: 130px;
  display: flex;
}
.house-suggestion-section .house-suggestion-header .location-selector .location-options {
  display: flex;
  gap: 20px;
  color: var(--Text-Light-Grey, rgba(0, 9, 41, 0.5));
  font-weight: 500;
  text-align: center;
  justify-content: space-between;
}
.house-suggestion-section .house-suggestion-header .location-selector .location-options .location-option:hover {
  color: #1d61cc;
}
.house-suggestion-section .house-suggestion-header .location-selector .selected {
  color: var(--Blue-3rd, #1d61cc);
  font-weight: 600;
}
.house-suggestion-section .house-suggestion-header .location-selector .location-change {
  display: flex;
  justify-content: end;
  gap: 10px;
  color: var(--Blue-2nd, #002f7a);
  font-weight: 500;
  text-align: center;
  align-items: center;
}
.house-suggestion-section .house-suggestion-header .home-filter {
  display: flex;
}
.house-suggestion-section .house-suggestion-header .home-filter .home-filter-section {
  display: flex;
  flex-grow: 1;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-filter-title {
  color: var(--Dark-1st, #000929);
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  width: 100%;
  max-width: 130px;
  display: flex;
  flex-shrink: 0;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-options-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  flex-grow: 1;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  max-width: 725px;
  gap: 20px;
  font-weight: 500;
  text-align: center;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-options .check-box-container {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--Text-Grey, rgba(0, 9, 41, 0.7));
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding-left: 35px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-options .check-box-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-options .check-box-container input:checked ~ .checkmark {
  background-color: #FF5358;
  border: 1.5px solid #FF5358;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-options .check-box-container input:checked ~ .checkmark:after {
  display: block;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-options .check-box-container .checkmark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1.5px solid var(--Grey-7th, #A9A9A9);
  background-color: var(--Main-Color-White, #FFF);
}
.house-suggestion-section .house-suggestion-header .home-filter .price-options .check-box-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.house-suggestion-section .house-suggestion-header .home-filter .price-options .check-box-container:hover input ~ .checkmark {
  background: #ccc;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-options .check-box-container:hover input:checked ~ .checkmark {
  background: #FF5358;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-options.expand {
  display: none;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-filter-options {
  display: none;
  gap: 14px;
  width: 536px;
  align-items: center;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-filter-options .price-filter-label {
  color: var(--Text-Light-Grey, rgba(0, 9, 41, 0.5));
  margin: auto 0;
  font: 500 14px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-filter-options .price-filter-from {
  border-radius: 6px;
  border: 1px solid rgb(169, 169, 169);
  display: flex;
  gap: 14px;
  white-space: nowrap;
  flex: 1;
  padding: 10px 12px;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-filter-options .price-filter-from .price-filter-from-label {
  width: 100%;
  color: var(--Text-Light-Grey, rgba(0, 9, 41, 0.5));
  letter-spacing: -0.07px;
  flex: 1;
  font: 500 13px/145% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
  border: none;
  outline: none;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-filter-options .price-filter-from .price-filter-from-value {
  color: var(--Blue-Darkest, #03102a);
  margin: auto 0;
  font: 600 12px/120% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-filter-options .price-filter-separator {
  color: #000;
  margin: auto 0;
  font: 500 14px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-filter-options .price-filter-to {
  border-radius: 6px;
  border: 1px solid rgb(169, 169, 169);
  display: flex;
  gap: 14px;
  white-space: nowrap;
  flex: 1;
  padding: 10px 12px;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-filter-options .price-filter-to .price-filter-to-label {
  color: var(--Text-Light-Grey, rgba(0, 9, 41, 0.5));
  letter-spacing: -0.07px;
  flex: 1;
  font: 500 13px/145% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
  width: 100%;
  border: none;
  outline: none;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-filter-options .price-filter-to .price-filter-to-value {
  color: var(--Blue-Darkest, #03102a);
  margin: auto 0;
  font: 600 12px/120% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-filter-options .price-filter-apply {
  border-radius: 6px;
  background-color: var(--Blue-2nd, #002f7a);
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  justify-content: center;
  padding: 9px 8px;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-filter-options .price-filter-apply .price-filter-apply-text {
  font-family: Plus Jakarta Sans, sans-serif;
  justify-content: center;
  padding: 3px 10px;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-filter-options .price-filter-apply:hover {
  opacity: 0.8;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-filter-options .price-filter-clear {
  color: var(--Text-Grey, rgba(0, 9, 41, 0.7));
  white-space: nowrap;
  justify-content: center;
  margin: auto 0;
  padding: 3px 10px;
  font: 500 14px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
}
.house-suggestion-section .house-suggestion-header .home-filter .price-filter-options .price-filter-clear:hover {
  opacity: 0.8;
}
.house-suggestion-section .house-suggestion-header .home-filter .more-options {
  display: flex;
  flex-shrink: 0;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.house-suggestion-section .house-suggestion-header .home-filter .more-options .more-label {
  color: var(--Text-Light-Grey, rgba(0, 9, 41, 0.5));
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
.house-suggestion-section .house-suggestion-header .bedRoom, .house-suggestion-section .house-suggestion-header .WC, .house-suggestion-section .house-suggestion-header .sample, .house-suggestion-section .house-suggestion-header .location {
  display: none;
}
.house-suggestion-section .house-suggestion-header .filter-wrapper {
  justify-content: space-between;
  display: flex;
  width: 100%;
  gap: 15px;
}
.house-suggestion-section .house-suggestion-header .filter-wrapper .filter-arrow {
  transition: all 0.3s linear;
}
.house-suggestion-section .house-suggestion-header .filter-buttons,
.house-suggestion-section .house-suggestion-header .default-reset {
  border-radius: 10px;
  border: 2px solid rgb(240, 239, 251);
  background-color: #fff;
  display: flex;
  gap: 10px;
  padding: 11px 19px;
  align-items: center;
  cursor: pointer;
}
.house-suggestion-section .house-suggestion-header .filter-text,
.house-suggestion-section .house-suggestion-header .default-text {
  font-family: Plus Jakarta Sans, sans-serif;
}
.house-suggestion-section .house-suggestion-header .results-count {
  color: var(--Text-Grey, rgba(0, 9, 41, 0.7));
  text-align: center;
  margin: auto 0;
  font: 600 16px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
}
.house-suggestion-section .house-suggestion-header .results-count span {
  color: var(--Blue-3rd, #1D61CC);
}
.house-suggestion-section .interested-post {
  display: flex;
  justify-content: space-between;
}
.house-suggestion-section .interested-post .title .suggested-homes-title {
  color: var(--Main-Color-Black, #000929);
  flex: 1;
  font-size: 24px;
  font-weight: 700;
  justify-content: center;
  line-height: 140%;
  margin: auto 0;
}
.house-suggestion-section .interested-post .create-post-button {
  align-items: center;
  background-color: var(--Blue-2nd, #002f7a);
  border-radius: 8px;
  color: var(--Main-Color-White, #fff);
  display: flex;
  font-size: 15px;
  font-weight: 600;
  gap: 10px;
  padding: 11px 25px;
  text-align: center;
}
.house-suggestion-section .tag-results {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.house-suggestion-section .tag-results .tag-result {
  display: flex;
  padding: 11px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--BG-Light-Blue, #F5F9FF);
}
.house-suggestion-section .tag-results .tag-result .tag-text {
  color: var(--Text-Black-2nd, #100029);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.house-suggestion-section .tag-results .tag-result .tag-count {
  color: var(--Text-Light-Grey, rgba(0, 9, 41, 0.5));
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px; /* 112.5% */
  letter-spacing: 0.43px;
}
.house-suggestion-section .tag-results .tag-result.active {
  background: var(--Red-2nd, #FF5358);
}
.house-suggestion-section .tag-results .tag-result.active .tag-text {
  color: var(--Main-Color-White, #FFF);
}
.house-suggestion-section .tag-results .tag-result.active .tag-count {
  color: var(--Red-Red-Light, #FFF0F0);
}
.house-suggestion-section .results-sort-container {
  display: flex;
  justify-content: space-between;
}
.house-suggestion-section .results-sort-container .search-container {
  color: var(--Text-Grey, rgba(0, 9, 41, 0.7));
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  line-height: 150%;
}
.house-suggestion-section .results-sort-container .search-input-container {
  background-color: var(--BG-Light-Blue, #f5f9ff);
  border: 1px solid rgb(230, 240, 255);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 14px;
}
.house-suggestion-section .results-sort-container .search-input {
  border: none;
  outline: none;
  background-color: var(--BG-Light-Blue, #f5f9ff);
  width: 100%;
  color: var(--Text-Grey, rgba(0, 9, 41, 0.7));
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.house-suggestion-section .sort-container {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: var(--Dark-1st, #000929);
  font-weight: 500;
  justify-content: center;
  position: relative;
}
.house-suggestion-section .sort-wrapper {
  width: 256px;
  height: 48px;
  position: relative;
}
.house-suggestion-section .sort-wrapper:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 18px;
  z-index: 9999;
  width: 7px;
  height: 7px;
  border: 2px solid grey;
  border-top: transparent;
  border-right: transparent;
  transform: rotate(-45deg);
  pointer-events: none;
  transition: all 0.3s linear;
}
.house-suggestion-section .sort-wrapper input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  border: 1.5px solid var(--Border-Blue, #E6F0FF);
  background: var(--BG-Light-Blue, #F5F9FF);
  color: var(--Dark-1st, #000929);
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  padding: 0 14px;
  top: 0;
  left: 0;
  user-select: none;
}
.house-suggestion-section .sort-wrapper .options {
  width: 100%;
  border-radius: 9px;
  cursor: pointer;
  background: #F5F9FF;
  outline: none;
  box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
  font-size: 15px;
  overflow: hidden;
  position: absolute;
  top: 50px;
  transition: all 0.7s ease;
  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  opacity: 0;
  transform: translateY(-50px);
  visibility: hidden;
}
.house-suggestion-section .sort-wrapper .options .option {
  padding: 10px;
  border-radius: 9px;
  transition: all 0.2s ease;
  color: #292d34;
}
.house-suggestion-section .sort-wrapper .options .option:hover {
  background: #F5F9FF;
}
.house-suggestion-section .sort-wrapper.opened .options {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.house-suggestion-section .sort-wrapper.opened::before {
  transform: rotate(-225deg);
  top: 22px;
}
.house-suggestion-section .property-card-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 5px;
}
.house-suggestion-section .property-card {
  border: 1px solid #f0effb;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.house-suggestion-section .property-card .property-details {
  display: flex;
}
.house-suggestion-section .property-card .property-details .property-image {
  width: 313px;
  position: relative;
}
.house-suggestion-section .property-card .property-details .property-image img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px 0 0 10px;
  aspect-ratio: 1.15;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.house-suggestion-section .property-card .property-details .property-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 30px;
  box-sizing: border-box;
}
.house-suggestion-section .property-card .property-details .property-info .property-info-header {
  display: flex;
  flex-direction: column;
  gap: 17px;
  position: relative;
}
.house-suggestion-section .property-card .property-details .property-info .status-container.light-green {
  background-color: var(--Green-Light, #f0ffe8);
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  gap: 7px;
  padding: 5px 15px;
  width: fit-content;
}
.house-suggestion-section .property-card .property-details .property-info .status-container.light-green .green-dot {
  width: 7px;
  height: 7px;
  border-radius: 50px;
  background: #3EB415;
}
.house-suggestion-section .property-card .property-details .property-info .status-container.light-green .status-text {
  color: var(--Dark-1st, #000929);
}
.house-suggestion-section .property-card .property-details .property-info .status-container.light-green .days-remaining {
  color: var(--Text-Grey, rgba(0, 9, 41, 0.7));
}
.house-suggestion-section .property-card .property-details .property-info .status-container.yellow {
  border-radius: 8px;
  background: #FFF3D3;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  gap: 7px;
  padding: 5px 15px;
  width: fit-content;
}
.house-suggestion-section .property-card .property-details .property-info .status-container.yellow .yellow-dot {
  width: 7px;
  height: 7px;
  border-radius: 50px;
  background: var(--Status-Orange, #FFA740);
}
.house-suggestion-section .property-card .property-details .property-info .status-container.yellow .status-text {
  color: var(--Dark-1st, #000929);
}
.house-suggestion-section .property-card .property-details .property-info .status-container.yellow .days-remaining {
  color: var(--Text-Grey, rgba(0, 9, 41, 0.7));
}
.house-suggestion-section .property-card .property-details .property-info .status-container.success {
  border-radius: 8px;
  background: var(--Green-3rd, #ABFF84);
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  gap: 7px;
  padding: 5px 15px;
  width: fit-content;
}
.house-suggestion-section .property-card .property-details .property-info .status-container.success .status-text {
  color: var(--Dark-1st, #000929);
}
.house-suggestion-section .property-card .property-details .property-info .status-container.success .days-remaining {
  color: var(--Text-Grey, rgba(0, 9, 41, 0.7));
}
.house-suggestion-section .property-card .property-details .property-info .status-container.red {
  border-radius: 8px;
  background: var(--Red-Red-Light, #FFF0F0);
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  gap: 7px;
  padding: 5px 15px;
  width: fit-content;
}
.house-suggestion-section .property-card .property-details .property-info .status-container.red .red-dot {
  width: 7px;
  height: 7px;
  border-radius: 50px;
  background: var(--Red-2nd, #FF5358);
}
.house-suggestion-section .property-card .property-details .property-info .status-container.red .status-text {
  color: var(--Red-2nd, #FF5358);
}
.house-suggestion-section .property-card .property-details .property-info .status-container.red .days-remaining {
  color: var(--Text-Grey, rgba(0, 9, 41, 0.7));
}
.house-suggestion-section .property-card .property-details .property-info .property-title {
  color: #000929;
  font: 700 18px/30px "Plus Jakarta Sans", sans-serif;
}
.house-suggestion-section .property-card .property-details .property-info .property-location {
  color: rgba(0, 9, 41, 0.7);
  font: 500 16px/150% "Plus Jakarta Sans", sans-serif;
}
.house-suggestion-section .property-card .property-details .property-info .property-attributes {
  display: flex;
  gap: 8px;
  font-size: 15px;
  line-height: 140%;
}
.house-suggestion-section .property-card .property-details .property-info .property-attributes .property-type,
.house-suggestion-section .property-card .property-details .property-info .property-attributes .property-size {
  display: flex;
  gap: 8px;
}
.house-suggestion-section .property-card .property-details .property-info .property-attributes .property-type-label,
.house-suggestion-section .property-card .property-details .property-info .property-attributes .property-size-label {
  color: rgba(0, 9, 41, 0.5);
  font-weight: 500;
}
.house-suggestion-section .property-card .property-details .property-info .property-attributes .property-type-value,
.house-suggestion-section .property-card .property-details .property-info .property-attributes .property-size-value {
  color: #000929;
  font-weight: 600;
  letter-spacing: -0.15px;
}
.house-suggestion-section .property-card .property-details .property-info .property-attributes .property-attributes-separator {
  color: #f0effb;
  font-weight: 500;
}
.house-suggestion-section .property-card .property-details .property-info .property-price-per-sqm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.house-suggestion-section .property-card .property-details .property-info .property-price-per-sqm .property-price {
  color: var(--Red-Primary, #EC1F25);
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.24px;
}
.house-suggestion-section .property-card .property-details .property-info .property-price-per-sqm .property-per-sqm {
  color: var(--Text-Light-Grey, rgba(0, 9, 41, 0.5));
  font-size: 15px;
  font-weight: 500;
  line-height: 140%; /* 21px */
}
.house-suggestion-section .property-card .property-details .property-info .property-price-per-sqm .property-per-sqm span {
  color: var(--Text-Black, #000929);
  font-size: 15px;
  font-weight: 700;
  line-height: 140%;
}
.house-suggestion-section .property-card .property-details .property-info .sell-tag {
  padding: 5px 10px;
  border-radius: 6px;
  background: var(--Red-2nd, #FF5358);
  color: #FFF;
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
  box-sizing: border-box;
  margin-right: 6px;
}
.house-suggestion-section .property-card .property-details .property-info .confirm-tag {
  padding: 5px 10px;
  border-radius: 6px;
  background: var(--Green-4th, #CDFFB6);
  color: var(--Text-Black, #000929);
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
  box-sizing: border-box;
}
.house-suggestion-section .property-card .property-separator {
  height: 1px;
  background-color: #f0effb;
}
.house-suggestion-section .property-card .property-agent-actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.house-suggestion-section .property-card .property-agent-actions .property-agent {
  display: flex;
  gap: 10px;
}
.house-suggestion-section .property-card .property-agent-actions .property-agent .agent-avatar {
  width: 46px;
  aspect-ratio: 1;
  border: 1px solid #eee;
  border-radius: 50%;
}
.house-suggestion-section .property-card .property-agent-actions .property-agent .agent-info {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.house-suggestion-section .property-card .property-agent-actions .property-agent .agent-info .agent-name {
  color: #100029;
  font: 600 14px "Plus Jakarta Sans", sans-serif;
}
.house-suggestion-section .property-card .property-agent-actions .property-agent .agent-info .agent-listing-date {
  color: #666;
  font: 400 13px/128% "Plus Jakarta Sans", sans-serif;
  margin-top: 5px;
}
.house-suggestion-section .property-card .property-agent-actions .customer-seller-container {
  display: flex;
  gap: 15px;
  font-size: 14px;
  color: var(--Text-Black, #000929);
  font-weight: 500;
  line-height: 140%;
}
.house-suggestion-section .property-card .property-agent-actions .customer-seller-container .customer-container,
.house-suggestion-section .property-card .property-agent-actions .customer-seller-container .seller-container {
  border-radius: 8px;
  border: 2px solid rgb(240, 239, 251);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
}
.house-suggestion-section .property-card .property-agent-actions .customer-seller-container .customer-container .red-dot,
.house-suggestion-section .property-card .property-agent-actions .customer-seller-container .seller-container .red-dot {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background: var(--Red-2nd, #FF5358);
}
.house-suggestion-section .property-card .property-agent-actions .customer-seller-container .seller-container.red {
  background: var(--Red-Red-Light, #FFF0F0);
  border: none;
}
.house-suggestion-section .property-card .property-agent-actions .customer-seller-container .seller-container.red .seller-request {
  color: var(--Red-Primary, #EC1F25);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
}
.house-suggestion-section .property-card .property-agent-actions .customer-seller-container .seller-container.red .seller-name {
  color: var(--Dark-1st, #000929);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
}
.house-suggestion-section .property-card .property-agent-actions .property-actions {
  display: flex;
  gap: 7px;
  margin: auto 0;
}
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-sell {
  background-color: #002f7a;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  font: 600 14px/145% "Plus Jakarta Sans", sans-serif;
  text-align: center;
}
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-sell:hover {
  opacity: 0.8;
}
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-requested {
  border-radius: 8px;
  background: #FFA740;
  display: flex;
  padding: 8px 16px;
  gap: 7px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 145%; /* 20.3px */
}
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-requested:hover {
  opacity: 0.8;
}
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-phone,
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-heart,
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-share,
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-reset,
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-show-detail,
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-fix,
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-open {
  background-color: #ebf3ff;
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Blue-2nd, #002F7A);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%; /* 20.3px */
}
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-phone:hover,
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-heart:hover,
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-share:hover,
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-reset:hover,
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-show-detail:hover,
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-fix:hover,
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-open:hover {
  opacity: 0.8;
}
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-heart.clicked svg {
  fill: var(--Red-2nd, #FF5358);
}
.house-suggestion-section .property-card .property-agent-actions .property-actions .action-heart.clicked svg path {
  stroke: var(--Red-2nd, #FF5358);
}
.house-suggestion-section .property-card.buyer .property-info {
  gap: 15px;
}
.house-suggestion-section .property-card.buyer .property-info .property-price-per-sqm {
  color: var(--Text-Light-Grey, rgba(0, 9, 41, 0.5));
  font-size: 15px;
  font-weight: 500;
  line-height: 140%; /* 21px */
}
.house-suggestion-section .property-card.buyer .property-info .property-price {
  color: #ec1f25;
  font: 800 24px "Plus Jakarta Sans", sans-serif;
  letter-spacing: -0.24px;
}
.house-suggestion-section .property-card.buyer .property-info .karo-ai-recommendation {
  background-color: var(--Red-Red-Light, #fff0f0);
  border-radius: 8px;
  color: var(--Dark-1st, #000929);
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  gap: 10px;
  letter-spacing: -0.13px;
  line-height: 140%;
  padding: 8px 15px;
  width: fit-content;
}
.house-suggestion-section .property-card.buyer .property-info .karo-ai-recommendation .karo-ai-recommendation__header {
  align-items: flex-start;
  display: flex;
  gap: 7px;
}
.house-suggestion-section .property-card.buyer .property-info .karo-ai-recommendation .karo-ai-recommendation__header .karo-ai-recommendation__title {
  font-family: Plus Jakarta Sans, sans-serif;
}
.house-suggestion-section .property-card.buyer .property-info .karo-ai-recommendation .karo-ai-recommendation__header .karo-ai-recommendation__title .karo-ai-recommendation__highlight {
  color: rgb(0, 9, 41);
  font-weight: 500;
}
.house-suggestion-section .property-card.buyer .property-info .property-info-header {
  gap: 15px;
}
.house-suggestion-section .pagination {
  display: flex;
  justify-content: flex-end;
  align-self: stretch;
  padding-left: 80px;
  gap: 4px;
  font-size: 15px;
  color: #002f7a;
  font-weight: 600;
  letter-spacing: 0.43px;
  line-height: 120%;
}
.house-suggestion-section .pagination .pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #f5f9ff;
  padding: 10px 12px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-feature-settings: "clig" off, "liga" off;
}
.house-suggestion-section .pagination .pagination-item:hover {
  opacity: 0.8;
}
.house-suggestion-section .pagination .pagination-item.active {
  background-color: #002f7a;
  color: #ebf3ff;
  box-shadow: 0px 2px 4px 0px rgba(165, 163, 174, 0.3);
}
.house-suggestion-section .pagination .pagination-item.active:hover {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
